div#footer {
    font-size: 14px;
}

.alert {
    margin-top: 10px;
}

h1 {
    font-weight: bold;
}

h2 {
    display: inline;
}

a.btn.btn-primary {
    position: absolute;
    margin-left: 10px;
}

table {
    margin-top: 10px;
}

table.table tr td {
    vertical-align: middle;
}

img {
    border-radius: 50%;
}

#footer {
    border-top: 1px solid #dddddd;
    padding-top: 10px;
}

#group-selector {
    margin-top: 30px;
}

#group-selector select {
    margin: 0;
    width: 85%;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    height: 25px;
    line-height: 30px;
    color: #555555;
}